/*____________________________IMPORTS__________________________*/
/*_____________________________Fonts___________________________*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", Verdana, Arial, Sans-Serif;
  box-sizing: border-box;
}

/*____________________________VARIABLES__________________________*/
/*_____________________________$colors___________________________*/
/*____________________________KEYFRAMES__________________________*/
/*_________________Slide-in animations | desktop_________________*/
@keyframes slidein-left {
  from {
    transform: translateX(100%);
    width: 90%;
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slidein-right {
  from {
    transform: translateX(-100%);
    width: 90%;
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
/*_______________Slide-down animations | mobile_________________*/
@keyframes slide-down {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
/*____________________________CONTENT__________________________*/
/*________________________navigation bar_______________________*/
nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
nav i {
  font-size: x-large;
  padding-left: 20px;
}
nav img {
  width: 50%;
  margin: 0 auto;
  padding-right: 20px;
  max-height: 60px;
  max-width: 300px;
}

/*___________________________banner___________________________*/
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*____________________________menu____________________________*/
.menu {
  background-color: #eaeaea;
  border-radius: 45px 45px 0 0;
  margin-top: -60px;
  z-index: 1;
  position: relative;
  /*______________heading____________*/
  /*______________heart____________*/
  /*______________list____________*/
  /*______________cards____________*/
  /*______________check boxes____________*/
  /*__________command button_________*/
}
.menu__heading {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__heading h1 {
  font-family: "Shrikhand", Verdana, Tahoma, sans-serif;
  font-weight: lighter;
}
.menu__heart {
  font-size: xx-large;
  position: relative;
  right: 5px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__heart--empty {
  position: absolute;
  font-size: xx-large;
  z-index: 1;
}
.menu__heart--full {
  position: absolute;
  font-size: xx-large;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 2;
  opacity: 0;
  transition: opacity 400ms;
}
.menu__heart--full:hover, .menu__heart--full:active {
  opacity: 1;
}
.menu__list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu__list h2 {
  text-transform: uppercase;
  color: #353535;
  opacity: 0.8;
  margin: 30px 0;
  position: relative;
  line-height: 1em;
}
.menu__list h2::before {
  position: absolute;
  width: 60px;
  height: 0;
  left: 0;
  top: 1.2em;
  content: "";
  border-top: 4px solid #99E2D0;
}
.menu__box {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  line-height: 10px;
  white-space: nowrap;
}
.menu__box--slidedown1 {
  animation: slide-down 1s both;
  animation-delay: 100ms;
}
.menu__box--slidedown2 {
  animation: slide-down 1s both;
  animation-delay: 300ms;
}
.menu__box--slidedown3 {
  animation: slide-down 1s both;
  animation-delay: 500ms;
}
.menu__box--slidedown4 {
  animation: slide-down 1s both;
  animation-delay: 700ms;
}
.menu__box:hover i, .menu__box:active i {
  transform: rotate(360deg);
}
.menu__box:hover .menu__checkbox, .menu__box:active .menu__checkbox {
  margin-right: -15px;
}
.menu__entitled {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
}
.menu__entitled h3, .menu__entitled p {
  margin: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 1s;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: 20px;
  font-weight: bold;
}
.menu__checkbox {
  width: 140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: -90px;
  transition: margin-right 1s;
}
.menu__checkbox i:hover {
  cursor: pointer;
}
.menu__checkbox--checked {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100%;
  background-color: #99E2D0;
  font-size: 25px;
  color: white;
  border-radius: 0 20px 20px 0;
}
.menu__checkbox--checked i {
  text-align: center;
  transition: all 0.5s ease-in 0.1s;
}
.menu__button {
  display: flex;
  justify-content: center;
  font-size: larger;
  margin: 20px 0 0 0;
}
.menu__button button {
  background: linear-gradient(356deg, #9356DC, #FF79DA);
  text-align: center;
  height: 50px;
  width: 180px;
  border-radius: 40px;
  border: none;
  color: white;
  margin: 20px auto 30px auto;
  cursor: pointer;
}
.menu__button button:hover {
  box-shadow: 0px 2px 10px rgb(50, 50, 50);
  opacity: 0.9;
}

/*____________________________footer____________________________*/
footer {
  background-color: #353535;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", Verdana, Arial, Sans-Serif;
  font-weight: lighter;
  font-size: 1.2em;
  padding: 20px 20px 10px 20px;
  margin: 0;
}
footer ul {
  list-style-type: none;
  padding: 10px 20px 20px 20px;
  margin: 0;
}
footer li i {
  width: 30px;
}

/*____________________________MEDIA QUERIES_________________________*/
/*_____________________Responsive design : tablet___________________*/
@media all and (min-width: 768px) and (max-width: 1280px) {
  header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__heading {
    display: flex;
    flex-direction: column-reverse;
  }
  .menu__heart {
    margin: 20px 0;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__box {
    width: 80%;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/*___________________Responsive design : desktop___________________*/
@media all and (min-width: 1280px) {
  header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .menu__heading {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .menu__heart {
    margin: 20px 0;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 190px;
  }
  .menu__box {
    width: 400px;
  }
  .menu__box--slidein1 {
    animation: slidein-left 3s both;
    animation-delay: 400ms;
  }
  .menu__box--slidein2 {
    animation: slidein-right 3s both;
    animation-delay: 600ms;
  }
  .menu__box--slidein3 {
    animation: slidein-left 3s both;
    animation-delay: 800ms;
  }
  .menu__box--slidein4 {
    animation: slidein-right 3s both;
    animation-delay: 1000ms;
  }
  .menu__button {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
  }
}

/*# sourceMappingURL=pages.css.map */
