@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
*{font-family: "Roboto", Verdana, Arial, Sans-Serif;
box-sizing: border-box;}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-grey: #eaeaea;
$bg-lightgrey: #f6f6f6;
$bg-darkgrey: #353535;

/* Header */
header{
    text-align: center;
    padding: 20px 0 10px 0;
    /* Logo */
    img{
        width: 50%;
        max-height: 60px;
        max-width: 300px;
    }
}

/* First section : Reservation */
.top-container{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Location */
    &__location{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: $bg-grey;
        box-shadow: 5px 13px 5px -10px #cecece inset;
        input{
            background-color: $bg-grey;
            border: none;
            width: 140px;
        }
        ::placeholder{
            color: black;
            font-size: larger;
            font-weight: 600;
            opacity: 0.7;
        }
        i{
            width: 30px;
            margin-right: 10px;
        }
    }
    /* Searching block */
    &__reservation{
        background-color: $bg-lightgrey;
        padding: 30px 5px 50px 5px;
        & p{
            opacity: 0.7;
        }
    }
    &__btn{
        background: linear-gradient(356deg, $primary-color, $secondary-color);
        height: 50px;
        border: none;
        border-radius: 30px;
        color: white;
        padding: 10px 20px;
        margin: 20px auto 0 auto;
        width: 250px;
        cursor: pointer;
    }
}

/* Second section : Running block */
.process{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    &__heading{
        padding: 0 0 20px 20px;
    }
}
.process-steps{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $bg-lightgrey;
    margin: 0 auto 30px auto;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 2px 10px #cecece;
    height: 80px;
    &:hover{
        background-color: #f5edff;
        .process-steps__picto{
            color: $primary-color;
        }
    }
    &__nbr{
        background-color: $primary-color;
        color: white;
        padding: 4px 8px;
        margin-left: -15px;
        border-radius: 30px;
    }
    &__picto{
        color: #7e7e7e;
        font-size: x-large;
        opacity: 0.7;
        margin: 0 30px;
    }
    &__txt{
        font-weight: bold;
    }
}

.restaurants{
    display: flex;
    flex-direction: column;
    background-color: $bg-lightgrey;
    padding: 30px 0px 50px 0;
    &__heading{
        padding-left: 20px;
    }
}

.restaurants-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    height: 250px;
    width: 90%;
    border-radius: 15px;
    a{
        height: 250px;
        width: 100%;
    }
    &__img{
        width: 100%;
        height: 70%;
        text-align: center;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            text-align: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
        }
        &--new{
            position: absolute;
            top: 10%;
            right: 5%;
            z-index: 1;
            background-color: $tertiary-color;
            color: #008766;
            font-weight: bold;
            border-radius: 2px;
            margin: 0;
            padding: 8px;
        }
    }

    &__info{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 10px #7e7e7e;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 0 20px;
    
    }
    &__txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
    }
    &__name{
        margin: 0;
    }
    &__place{
        margin: 0;
    }
    &__picto{
        margin: 0;
        font-size: x-large;
    }
}

footer{
    background-color: $bg-darkgrey;
    color: white;
    & h2{
        font-family: "Shrikhand", Verdana, Arial, Sans-Serif;
        font-weight: lighter;
        font-size: 1.2em;
        padding: 20px 20px 10px 20px;
        margin: 0;
    }
    & ul{
        list-style-type: none;
        padding: 10px 20px 20px 20px;
        margin: 0;
    }
    & li i{
        width: 30px;
    }
}


/* Responsive design : tablet */
@media all and (min-width: 768px) and (max-width: 992px){

    header{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 350px;
        }
    }

    .top-container{
        &__location{
        height: 80px;
        font-size: x-large;
        input{
            width: 220px;
            padding: 10px;
        }
        }
    }

    .process{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    &__heading{
        width: 100%;
        margin: 0 0 50px 0;
        padding: 0;
        text-align: center;
    }
}

    .process-steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    &__nbr{
        margin: -90px 0 20px 0;
        padding: 10px 15px;
        border-radius: 50px;
    }
    &__picto{
        margin: 10px 0;
    }

}

.restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__heading{
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 10px 0 40px 0;
    }
}

.restaurants-cards{
    width: 45%;
    margin: 15px 15px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
} 

/* Responsive design : desktop */
@media all and (min-width: 992px){
    header{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 350px;
        }
    }
    .top-container{
        input{
            padding: 10px;
            width: 150px;
        }
    }
.process{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    &__heading{
        width: 100%;
        margin: 0 0 50px 0;
        padding: 0;
        text-align: center;
    }
}
.process-steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 30%;
        &__nbr{
        margin: -40px 0 20px 0;
        padding: 10px 15px;
        border-radius: 50px;
    }
    &__picto{
        margin: 10px 0;
    }
}
.restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    &__heading{
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 10px 0 40px 0;
    }
}

.restaurants-cards{
    height: 300px;
    width: 20%;
    min-width: 300px;
    max-width: 400px;
    margin: 10px;
    a{
        height: 300px; 
    }
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
}